@use "../global/" as *;

.about-nursery {
  margin-bottom: 174px;
}

.about-nursery__title {
  margin-bottom: 64px;
  text-align: center;
}

.about-nursery__content {
  margin: 0 auto;
  max-width: 1080px;
}

.about-nursery__row {
  border-bottom: 1px dashed $text-color;
  display: flex;

  & > h3 {
    align-items: center;
    background-color: $white-color;
    display: flex;
    flex-shrink: 0;
    font-size: 18px;
    justify-content: center;
    letter-spacing: 0.2em;
    width: 200px;
  }
}

.about-nursery__data {
  letter-spacing: 0.2em;
  padding: 32px 87px 32px 25px;
}

.about-nursery__data--tel {
  & > a {
    display: inline;

    &:hover {
      opacity: 0.7;
    }
  }
}

.about-nursery__data--admission-date {
  line-height: 1.5;
}

.about-nursery__open-date {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.about-nursery__week {
  width: 16px;

  & > p:first-child {
    margin-bottom: 8px;
  }
}

.about-nursery__open-date-note {
  font-size: 14px;
  letter-spacing: 0.2em;
}

.about-nursery__care-hours {
  &:first-child {
    margin-bottom: 24px;
  }

  & > h4 {
    margin-bottom: 4px;
  }
}

.about-nursery__care-hours__table {
  background-color: $white-color;
  border: 1px solid $text-color;
  width: 600px;
}

.about-nursery__care-hours__table-row {
  &:not(:last-child) {
    border-bottom: 1px solid $text-color;
  }
}

.about-nursery__care-hours__table-row-inner {
  display: flex;

  & > dt {
    align-self: center;
    display: flex;
    font-weight: $font-regular;
    justify-content: center;
    padding: 16px 0;
    width: 150px;
  }

  & > dd {
    border-left: 1px solid $text-color;
    line-height: 1.2;
    padding: 16px 20px;
  }
}

.about-nursery__number-table {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.about-nursery__number-table__head {
  align-items: center;
  background-color: $accent-color1;
  display: flex;
  height: 62px;
  justify-content: center;
  line-height: 1.2;
  letter-spacing: 0.2em;
  margin-right: 4px;
  width: 100px;
}

.about-nursery__number-table__column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > p {
    letter-spacing: 0;
    line-height: 1;

    &:first-child {
      margin-bottom: 16px;
    }
  }
}

.about-nursery__staff-note {
  line-height: 1.2;
}

@include mq(xl) {
  .about-nursery__content {
    max-width: 960px;
  }
}

@include mq(lg) {
  .about-nursery__content {
    max-width: 700px;
  }

  .about-nursery__care-hours__table {
    width: 450px;
  }

  .about-nursery__data {
    padding: 24px 60px 24px 15px;
  }
}

@include mq(md) {
  .about-nursery__content {
    max-width: 580px;
  }

  .about-nursery__row {
    border-bottom: none;
    flex-direction: column;

    & > h3 {
      height: 50px;
      width: 100%;
    }
  }

  .about-nursery__data--address,
  .about-nursery {
    padding: 18px 12px;
  }

  .about-nursery__data--target,
  .about-nursery__data--admission-date,
  .about-nursery__data--open-date,
  .about-nursery__data--care-hours {
    padding: 24px 12px;
  }

  .about-nursery__data--capacity,
  .about-nursery__data--staff {
    padding: 24px 0;
  }

  .about-nursery__open-date {
    gap: 35px;
    margin-bottom: 12px;
  }
}

@include mq(sm) {
  .about-nursery__capacity-note,
  .about-nursery__staff-note {
    line-height: 1.5;
  }
}

@include mq(tablet) {
  .about-nursery {
    margin-bottom: 154px;
  }

  .about-nursery__content {
    max-width: 345px;
  }

  .about-nursery__care-hours__table {
    width: 100%;
  }

  .about-nursery__row {
    & > h3 {
      font-size: 16px;
    }
  }

  .about-nursery__open-date {
    gap: 0;
    justify-content: space-between;
  }

  .about-nursery__care-hours__table-row-inner {
    & > dt {
      padding: 18px 0;
      width: 140px;
    }

    & > dd {
      padding: 18px 20px;
    }
  }

  .about-nursery__number-table {
    gap: 8px;
  }

  .about-nursery__number-table__head {
    height: 58px;
    margin-right: 0;
    width: 75px;
  }
}
