@use "../global/" as *;

.archive-letter {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  padding: 0 60px;
}

.archive-letter__inner {
  display: flex;
  gap: 32px;
  width: 100%;
  max-width: 1320px;
}

.archive-letter__content {
  flex-basis: 100%;
  max-width: 960px;
}

.archive-letter__search {
  border-bottom: 2px solid $text-color;
  margin-bottom: 32px;
  padding-bottom: 12px;

  & > h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
    padding-left: 32px;
    position: relative;

    &::before {
      content: "\f002";
      font: var(--fa-font-solid);
      font-size: 20px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.archive-letter__search-group {
  display: flex;
  gap: 8px;
}

.archive-letter__select {
  background-color: $white-color;
  border: 1px solid $text-color2;
  border-radius: 8px;
  height: 36px;
  position: relative;

  & > input {
    color: $text-color2;
    cursor: pointer;
    height: 100%;
    line-height: 1.2;
    padding: 0 16px;
    width: 100%;
  }

  &::after {
    content: "\f078";
    cursor: pointer;
    font: var(--fa-font-solid);
    font-size: 13px;
    position: absolute;
    right: 16px;
    top: 50%;
    translate: 0 -50%;
    transition: transform 0.3s ease-in-out;
  }

  &.open {
    &::after {
      transform: rotate(-180deg);
    }
  }
}

.archive-letter__select--prefecture,
.archive-letter__box--prefecture {
  width: 240px;
}

.archive-letter__select--nursery,
.archive-letter__box--nursery {
  width: 200px;
}

.archive-letter__box {
  background-color: $white-color;
  border: 1px solid $text-color2;
  border-radius: 8px;
  color: $text-color2;
  cursor: pointer;
  display: none;
  overflow: hidden;
  padding: 0 8px;
  position: absolute;
  z-index: 1;

  & > p {
    align-items: center;
    display: flex;
    height: 36px;
    line-height: 1.2;
    padding: 0 8px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.archive-letter__search-btn {
  align-items: center;
  background-color: $text-color;
  border-radius: 8px;
  color: $white-color;
  display: flex;
  font-size: 19px;
  flex-shrink: 0;
  justify-content: center;
  height: 36px;
  transition: all 0.5s ease;
  width: 36px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.archive-letter__card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 32px;

  & > p {
    text-align: center;
    width: 100%;
  }
}

.archive-letter__card {
  background-color: $white-color;
  border-radius: 20px;
  flex-shrink: 0;
  height: 280px;
  overflow: hidden;
  width: 300px;
}

.archive-letter__card-link {
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
  }
}

.archive-letter__card-img {
  width: 100%;

  & > .img-wrapper {
    width: 300px;

    & > img {
      aspect-ratio: 20 / 9;
    }
  }
}

.archive-letter__card-content {
  color: $text-color2;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px;

  & > h3 {
    height: 48px;
    margin-bottom: 12px;
  }

  & > h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

.archive-letter__card-date {
  text-align: right;

  & > time {
    font-size: 14px;
    text-align: right;
  }
}

.archive-letter__sidebar {
  min-width: 220px;
}

@include mq(xxl) {
  .archive-letter {
    padding: 0 30px;
  }
}

@include mq(xl) {
  .archive-letter__inner {
    flex-direction: column;
    max-width: 960px;
    width: 100%;
  }
}

@include mq(md) {
  .archive-letter__card-group {
    gap: 20px;
    justify-content: center;
  }
}

@include mq(sm) {
  .archive-letter__search {
    & > h2 {
      font-size: 20px;
      padding-left: 26px;

      &::before {
        font-size: 18px;
      }
    }
  }

  .archive-letter__search-group {
    flex-wrap: wrap;
    width: 250px;
  }

  .archive-letter__card-content {
    & > h3 {
      height: 42px;
    }

    & > h4 {
      font-size: 16px;
    }
  }

  .archive-letter__card-date {
    & > time {
      font-size: 12px;
    }
  }
}

@include mq(tablet) {
  .archive-letter {
    margin-bottom: 80px;
    padding: 0 15px;
  }
}
