@use "../global/" as *;

.archive-info {
  margin-bottom: 123px;
}

.archive-info__tag-group {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 64px;
}

.archive-info__content {
  margin: 0 auto;
  max-width: 1080px;
}

.archive-info__tag {
  align-items: center;
  background-color: $white-color;
  border: 1px solid $main-color;
  border-radius: 8px;
  color: $main-color;
  display: flex;
  flex-shrink: 0;
  height: 36px;
  justify-content: center;
  line-height: 1.2;
  padding: 0 16px;

  &:hover {
    background-color: rgb(228, 226, 226);
    cursor: pointer;
  }

  &.active {
    background-color: $main-color;
    color: $white-color;

    &:hover {
      background-color: rgb(216, 124, 136);
    }
  }
}

.archive-info__link-group {
  margin-bottom: 32px;

  & > p {
    text-align: center;
  }
}

.archive-info__link {
  border-bottom: 1px solid $text-color;
  padding-bottom: 24px;

  &:not(:first-child) {
    padding-top: 24px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.archive-info__link-inner {
  align-items: center;
  display: flex;
  gap: 24px;

  &:hover {
    opacity: 0.5;
  }
}

.archive-info__link-icon {
  align-items: center;
  border-radius: 12px;
  color: $white-color;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 120px;
  justify-content: center;
  width: 120px;

  & > p {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
  }
}

.archive-info__link-icon--news {
  background-color: rgb(255, 201, 222);
}

.archive-info__link-icon--activities {
  background-color: rgba(164, 200, 255, 1);
}

.archive-info__link-icon--media-coverage {
  background-color: rgb(255, 198, 87);
}

.archive-info__link-img {
  margin-bottom: 8px;

  & > .img-wrapper {
    width: 48px;

    & > img {
      aspect-ratio: 1 / 1;
    }
  }
}

.archive-info__link-content {
  padding: 12px 0;

  & > h2 {
    font-size: 20px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    margin-bottom: 12px;
  }

  & > p {
    color: $text-color2;
    letter-spacing: 0.04em;
    line-height: 1.5;
  }
}

.archive-info__link-date {
  margin-bottom: 12px;
}

.archive-info__link-excerpt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  line-height: 1.5;
  white-space: normal;
}

.archive-info__link-icon--sp {
  display: none;
}

@include mq(xl) {
  .archive-info__content {
    max-width: 934px;
  }
}

@include mq(lg) {
  .archive-info__content {
    max-width: 708px;
  }

  .archive-info__link-icon--pc {
    display: none;
  }

  .archive-info__link-date--pc {
    display: none;
  }

  .archive-info__link-icon--sp {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;

    & > .archive-info__link-icon {
      border-radius: 7.2px;
      height: 72px;
      width: 72px;

      & > p {
        font-size: 10.8px;
      }
    }

    & > .archive-info__link-date {
      align-items: end;
      color: $text-color2;
      display: flex;
      line-height: 1.5;
      letter-spacing: 0.04em;
      margin-bottom: 0;
    }
  }

  .archive-info__link-img {
    margin-bottom: 8px;

    & > .img-wrapper {
      width: 28.8px;
    }
  }

  .archive-info__link-content {
    padding: 0;
  }
}

@include mq(md) {
  .archive-info__content {
    max-width: 580px;
  }

  .archive-info__link {
    padding-bottom: 16px;

    &:not(:first-child) {
      padding-top: 44px;
    }
  }

  .archive-info__link-excerpt {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

@include mq(sm) {
  .archive-info__page-top {
    padding-bottom: 88px !important;
  }

  .archive-info {
    margin-bottom: 80px;
  }

  .archive-info__tag-group {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 32px;
  }

  .archive-info__content {
    margin: 0 15px;
  }

  .archive-info__link-content {
    & > h2 {
      font-size: 18px;
    }
  }

  .archive-info__link-excerpt {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}
