@use "../global/" as *;

.complete {
  margin-bottom: 80px;
  text-align: center;

  & > p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-bottom: 120px;
  }
}

.complete__page-top {
  .page-heading {
    margin-bottom: 0;
  }
}

.complete__title {
  & > p {
    letter-spacing: 0.1em;
  }
}

@include mq(lg) {
  .complete {
    margin-inline: 30px;
  }
}

@include mq(sm) {
  .complete__page-top {
    padding-bottom: 60px !important;
  }

  .complete__title {
    & > h1 {
      line-height: 1.5;
      letter-spacing: 0.1em;
    }
  }

  .complete {
    margin-inline: 15px;

    & > p {
      display: flex;
      font-size: 16px;
      letter-spacing: 0.1em;
      line-height: 1.5;
      margin-bottom: 80px;
      margin-inline: auto;
      max-width: 375px;
      text-align: start;
    }

    .btn {
      & > a::after {
        right: 22px;
      }
    }
  }
}

@include mq(xs) {
  .complete {
    & > p {
      font-size: 15px;
    }
  }
}
