@use "../global/" as *;

.contact-form {
  margin-bottom: 120px;
}

.contact-form__announce {
  color: $text-color2;
  margin: 0 auto 48px;
  max-width: 1080px;

  & > p {
    line-height: 1.5;
    margin-bottom: 12px;
  }

  & > a {
    border-bottom: 1px solid $text-color2;
    display: inline-block;

    &:hover {
      opacity: 0.7;
    }
  }
}

.contact-form__content {
  background-color: $white-color;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 64px 140px;
}

.contact-form__item {
  align-items: center;
  display: flex;
  gap: 32px;
  margin-bottom: 16px;
}

.contact-form__item-name {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 12px;
  line-height: 1.5;
  width: 300px;

  & > span {
    align-items: center;
    color: $white-color;
    border-radius: 4px;
    background-color: $text-color2;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    width: 42px;

    &.required {
      background-color: $main-color;
    }
  }
}

.contact-form__input {
  color: $text-color2;
  width: 100%;
}

.contact-form__input-field {
  border: 1px solid $text-color2;
  border-radius: 4px;
  height: 40px;
  padding: 5px 10px;
  width: 100%;
}

.contact-form__textarea {
  border: 1px solid $text-color2;
  border-radius: 4px;
  height: 200px;
  line-height: 1.5;
  padding: 5px 10px;
  resize: none;
  width: 100%;
}

.contact-form__input-row {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-form__input-row-name {
  flex-shrink: 0;
  width: 150px;
}

.contact-form__agree {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  & > .wpcf7-form-control-wrap {
    padding-right: 12px;
  }

  & > .required {
    align-items: center;
    color: $white-color;
    border-radius: 4px;
    background-color: $main-color;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    width: 42px;
  }
}

.contact-form__btn-wrapper {
  text-align: center;

  & > p {
    display: inline-block;
    position: relative;

    &::after {
      font: var(--fa-font-solid);
      content: "\f054";
      position: absolute;
      top: 50%;
      right: 26px;
      transform: translateY(-50%);
    }
  }
}

.contact-form__btn {
  align-items: center;
  text-align: center;
}
