@use "../global/" as *;

.contact-form {
  margin-bottom: 120px;
}

.contact-form__announce {
  color: $text-color2;
  margin: 0 auto 48px;
  max-width: 1080px;

  & > p {
    line-height: 1.5;
    margin-bottom: 12px;
  }

  & > a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: underline solid $text-color2;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $text-color2;

    &:hover {
      opacity: 0.7;
    }
  }
}

.contact-form__content {
  background-color: $white-color;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 64px 140px;
}

.contact-form__item {
  align-items: center;
  display: flex;
  gap: 32px;
  margin-bottom: 16px;
}

.contact-form__item-name {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 12px;
  line-height: 1.5;
  width: 300px;

  & > span {
    align-items: center;
    color: $white-color;
    border-radius: 4px;
    background-color: $text-color2;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    width: 42px;

    &.required {
      background-color: $main-color;
    }
  }
}

.contact-form__input {
  color: $text-color2;
  width: 100%;
}

.contact-form__input-field {
  border: 1px solid $text-color2;
  border-radius: 4px;
  height: 40px;
  padding: 5px 10px;
  width: 100%;
}

.contact-form__textarea {
  border: 1px solid $text-color2;
  border-radius: 4px;
  height: 200px;
  line-height: 1.5;
  padding: 5px 10px;
  resize: none;
  width: 100%;
}

.contact-form__input-row {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-form__input-row-name {
  flex-shrink: 0;
  line-height: 1.5;
  width: 150px;
}

.contact-form__agree {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  & > .wpcf7-form-control-wrap {
    padding-right: 12px;
  }

  & > .required {
    align-items: center;
    color: $white-color;
    border-radius: 4px;
    background-color: $main-color;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    width: 42px;
  }

  .wpcf7-list-item-label {
    color: $text-color2;
  }
}

.contact-form__btn-wrapper {
  text-align: center;

  & > p {
    display: inline-block;
    position: relative;

    &::after {
      font: var(--fa-font-solid);
      content: "\f054";
      position: absolute;
      top: 50%;
      right: 26px;
      transform: translateY(-50%);
    }
  }
}

.contact-form__btn {
  align-items: center;
  text-align: center;
}

@include mq(xl) {
  .contact-form__announce {
    margin: 0 60px 48px;
  }

  .contact-form__content {
    margin: 0 60px;
    padding: 64px 60px;
  }
}

@include mq(lg) {
  .contact-form__announce {
    margin: 0 30px 48px;
  }

  .contact-form__content {
    margin: 0 30px;
    padding: 64px 30px;
  }
}

@include mq(md) {
  .contact-form__announce {
    margin: 0 15px 48px;
  }

  .contact-form__content {
    border-radius: 30px;
    margin: 0 15px;
    padding: 48px 15px;
  }

  .contact-form__item {
    align-items: start;
    flex-direction: column;
    gap: 12px;

    &:first-child {
      gap: 8px;
    }
  }
}

@include mq(sm) {
  .contact-form__page-top {
    padding-bottom: 76px !important;
  }

  .contact-form {
    margin-bottom: 80px;
  }

  .contact-form__item {
    font-size: 16px;
  }

  .contact-form__input-row {
    align-items: start;
    flex-direction: column;
    gap: 8px;
  }

  .contact-form__agree-wrapper {
    display: flex;
    justify-content: center;
  }

  .contact-form__agree {
    align-items: start;
    flex-direction: column-reverse;
    line-height: 1.5;
    margin: 0 auto 48px;

    & > .required {
      margin-left: 32px;
      margin-bottom: 9px;
    }

    & > br {
      display: none;
    }

    .wpcf7-form-control-wrap {
      padding: 0;
    }

    .wpcf7-list-item-label {
      font-size: 16px;
      letter-spacing: 0.1em;
      line-height: 1.5;
    }

    .wpcf7-list-item > label {
      align-items: start;
    }
  }
}
