@use "../global/" as *;

.entry-form {
  margin-bottom: 120px;
}

.entry-form__content {
  background-color: $white-color;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 64px 140px;
}

.entry-form__item {
  align-items: center;
  display: flex;
  gap: 32px;
  margin-bottom: 16px;
}

.entry-form__item-name {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 12px;
  line-height: 1.5;
  width: 300px;

  & > span {
    align-items: center;
    color: $white-color;
    border-radius: 4px;
    background-color: $text-color2;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    width: 42px;

    &.required {
      background-color: $main-color;
    }
  }
}

.entry-form__input {
  color: $text-color2;
  width: 100%;

  & > p {
    & > br {
      display: none;
    }
  }
}

.entry-form__radio {
  line-height: 1.5;

  & > .wpcf7-list-item {
    padding-right: 10px;

    & > label {
      display: inline;
    }
  }
}

.entry-form__radio--column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry-form__radio--content {
  margin-bottom: 10px;
}

.entry-form__textarea {
  border: 1px solid $text-color2;
  border-radius: 4px;
  height: 100px;
  line-height: 1.5;
  padding: 5px 10px;
  resize: none;
  width: 100%;
}

.entry-form__textarea--large {
  height: 200px;
}

.entry-form__input-field {
  border: 1px solid $text-color2;
  border-radius: 4px;
  height: 40px;
  padding: 5px 10px;
  width: 100%;
}

.entry-form__date-select {
  background-color: $white-color;
  border: 1px solid $text-color2;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  padding: 5px 10px;
  width: 100%;
}

.entry-form__input-row {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.entry-form__input-row-name {
  flex-shrink: 0;
  width: 150px;
}

.entry-form__radio--employment-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry-form__agree {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  & > .wpcf7-form-control-wrap {
    padding-right: 12px;
  }

  & > .required {
    align-items: center;
    color: $white-color;
    border-radius: 4px;
    background-color: $main-color;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    width: 42px;
  }
}

.entry-form__btn-wrapper {
  text-align: center;

  & > p {
    display: inline-block;
    position: relative;

    &::after {
      font: var(--fa-font-solid);
      content: "\f054";
      position: absolute;
      top: 50%;
      right: 26px;
      transform: translateY(-50%);
    }
  }
}

.entry-form__btn {
  align-items: center;
  text-align: center;
}

@include mq(xl) {
  .entry-form__content {
    margin: 0 60px;
    padding: 32px 60px;
  }
}

@include mq(lg) {
  .entry-form__content {
    margin: 0 30px;
    padding: 32px 15px;
  }
}

@include mq(md) {
  .entry-form__content {
    border-radius: 30px;
    margin: 0 15px;
    padding: 32px 15px;
  }

  .entry-form__item {
    align-items: start;
    flex-direction: column;
    gap: 16px;
  }
}

@include mq(sm) {
  .entry-form {
    margin-bottom: 80px;
  }

  .entry-form__item {
    font-size: 16px;
  }

  .entry-form__agree {
    display: block;
    font-size: 16px;
    line-height: 1.5;

    & > .required {
      margin-left: 32px;
      margin-top: 12px;
    }

    & > br {
      display: none;
    }
  }
}
