@use "../global/" as *;

.fv {
  margin-bottom: 120px;
  overflow: hidden;
  padding-top: 200px;
  position: relative;

  & > article {
    background-color: $accent-color2;
    border-radius: 8px;
    bottom: 32px;
    height: 120px;
    position: absolute;
    right: 32px;
    width: 240px;
    z-index: 1;

    & > a {
      height: 100%;
      padding: 16px;

      & > h3 {
        font-size: 20px;
        margin-bottom: 8px;
      }

      & > h4 {
        display: -webkit-box;
        font-size: 14px;
        line-clamp: 2;
        line-height: 1.5;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      & > p {
        font-size: 12px;
        text-align: right;
      }
    }

    &:hover {
      background-color: rgb(231, 223, 162);
    }
  }
}

.fv__bg {
  aspect-ratio: 64 / 27;
  align-items: center;
  background-image: url(../img/bg/fv_bg-pc.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 9.375% / 22.222%;
  margin-inline: 80px;
  position: relative;
  width: auto;
}

.fv__title {
  align-items: center;
  background-image: url(../img/bg/fv-title.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 16.4px;
  display: flex;
  height: 413px;
  justify-content: center;
  left: 37px;
  position: absolute;
  width: 516px;

  & > h1 {
    font-family: $font-yusei-magic;
    font-size: 36px;
    line-height: 2;
    letter-spacing: 0.1em;
  }
}
