@use "../global/" as *;

.fv {
  margin-bottom: 120px;
  overflow: hidden;
  padding-top: 200px;
  position: relative;

  & > article {
    background-color: $accent-color2;
    border-radius: 8px;
    bottom: 32px;
    height: 120px;
    opacity: 1;
    position: absolute;
    right: 32px;
    transform: translateX(0);
    transition: all 0.5s ease;
    width: 240px;
    z-index: 1;

    & > a {
      height: 100%;
      padding: 16px;

      & > h3 {
        font-size: 20px;
        margin-bottom: 8px;
      }

      & > h4 {
        display: -webkit-box;
        font-size: 14px;
        line-clamp: 2;
        line-height: 1.5;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      & > p {
        font-size: 12px;
        text-align: right;
      }
    }

    &:hover {
      background-color: rgb(231, 223, 162);
    }

    &.hide {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

.fv__bg {
  aspect-ratio: 64 / 27;
  align-items: center;
  background-image: url(../img/bg/fv_bg-pc.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 9.375% / 22.222%;
  margin-inline: 80px;
  position: relative;
  width: auto;
}

.fv__title {
  align-items: center;
  aspect-ratio: 516 / 413;
  background-image: url(../img/bg/fv-title.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 16.4px;
  display: flex;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: center;
  left: 37px;
  position: absolute;
  width: 516px;

  & > h1 {
    font-family: $font-yusei-magic;
    font-size: 36px;
    line-height: 2;
    letter-spacing: 0.1em;
  }
}

@include mq(xl) {
  .fv {
    margin-bottom: 80px;
    padding-top: 180px;
  }

  .fv__bg {
    margin-inline: 60px;
  }

  .fv__title {
    width: 380px;

    & > h1 {
      font-size: 34px;
    }
  }
}

@include mq(lg) {
  .fv {
    padding-top: 126px;
  }

  .fv__bg {
    align-items: center;
    aspect-ratio: 5 / 9;
    background-image: url(../img/bg/fv_bg-sp.webp);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    margin-inline: 80px;
    padding-top: 56px;
  }

  .fv__title {
    bottom: auto;
    left: auto;
    position: relative;
    width: 80%;

    & > h1 {
      font-size: 36px;
    }
  }
}

@include mq(sm) {
  .fv {
    & > article {
      bottom: 25px;
      height: 110px;
      left: 25px;
      right: auto;

      & > a {
        & > h3 {
          font-size: 16px;
        }

        & > h4 {
          font-size: 12px;
          margin-bottom: 6px;
        }

        & > p {
          font-size: 10px;
        }
      }
    }
  }

  .fv__bg {
    margin-inline: 37px;
    padding-top: 86px;
  }

  .fv__title {
    max-width: 340px;
    min-width: 272px;

    & > h1 {
      font-size: 24px;
    }
  }
}

@include mq(tablet) {
  .fv__bg {
    padding-top: 28px;
  }

  .fv__title {
    width: 272px;
  }
}
