@use "../global/" as *;

.introduction {
  margin-bottom: 162px;
  text-align: center;
}

.introduction__container {
  margin-inline: auto;
  max-width: 1080px;
  width: 88.89%;

  & > .section-title {
    margin-bottom: 72px;
  }
}

.introduction__prefecture-group-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.introduction__prefecture-group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-around;
  margin-bottom: 54px;
  max-width: 1080px;
  padding: 0 36px;
}

.introduction__prefecture {
  background-color: $white-color;
  border: 2px solid rgba(255, 237, 240, 1);
  border-radius: 20px;
  flex-shrink: 1;
  height: 60px;
  width: 320px;

  & > a {
    align-items: center;
    color: $text-color2;
    display: flex;
    font-size: 24px;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &:hover {
    background-color: rgb(228, 226, 226);
  }
}

@include mq(lg) {
  .introduction__prefecture-group {
    padding: 0;
  }
}

@include mq(sm) {
  .introduction {
    margin-bottom: 120px;
  }

  .introduction__container {
    width: 100%;

    & > .section-title {
      margin-bottom: 48px;
    }
  }

  .introduction__prefecture-group {
    gap: 18px;
    margin-bottom: 40px;
    margin-inline: 37px;
  }

  .introduction__prefecture {
    border-radius: 12px;
    height: 40px;
    width: 240px;

    & > a {
      font-size: 18px;
    }
  }
}
