@use "../global/" as *;

.letter {
  background-image: url(../img/bg/letter_bg-pc.webp);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px dashed $main-color;
  border-top: 2px dashed $main-color;
  position: relative;
  width: 100%;
}

.letter__inner {
  padding-top: 160px;

  & > .section-title {
    position: absolute;
    left: 50%;
    margin-bottom: 42px;
    top: -54px;
    transform: translateX(-50%);
  }
}

.letter__inner--front-page {
  padding-bottom: 120px;
}

.letter__inner--introduction-page {
  padding-bottom: 80px;
}

.letter__container {
  margin-inline: 180px;
  width: auto;
}

.letter__card-group-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.letter__card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 14px;
  max-width: 1080px;
  width: 100%;
}

.letter__card {
  background-color: $white-color;
  border-radius: 20px;
  height: 280px;
  margin-bottom: 48px;
  overflow: hidden;
  width: 320px;
}

.letter__card-link {
  height: 100%;
  width: 100%;

  &:hover {
    opacity: 0.7;
  }
}

.letter__card-img {
  width: 100%;

  & > .img-wrapper {
    width: 320px;

    & > img {
      aspect-ratio: 64 / 27;
    }
  }
}

.letter__card-content {
  color: $text-color2;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px;

  & > h3 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  & > p {
    display: -webkit-box;
    height: 48px;
    line-clamp: 2;
    margin-bottom: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.letter__card-date {
  text-align: right;

  & > time {
    font-size: 14px;
    text-align: right;
  }
}

.letter__btn-wrapper {
  text-align: center;
}

@include mq(lg) {
  .letter__container {
    margin-inline: auto;
    width: 88.89%;
  }

  .letter__card-group {
    justify-content: space-around;
  }
}

@include mq(md) {
  .letter {
    background-image: url(../img/bg/letter_bg-sp.webp);
  }

  .letter__container {
    margin-inline: 15px;
    width: auto;
  }

  .letter__card-group {
    gap: 25px;
    justify-content: center;
  }
}

@include mq(sm) {
  .letter {
    background-image: url(../img/bg/letter_bg-sp.webp);
  }

  .letter__inner {
    & > .section-title {
      margin-bottom: 62px;
      top: -40px;
    }
  }

  .letter__inner--front-page {
    padding-bottom: 80px;
  }

  .letter__card-group {
    justify-content: center;
    margin: 0 15px 18px;
  }

  .letter__card {
    margin-bottom: 24px;
    width: 300px;
  }

  .letter__card-img {
    & > .img-wrapper {
      width: 300px;

      & > img {
        aspect-ratio: 20 / 9;
      }
    }
  }

  .letter__card-content {
    & > p {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
}
