@use "../global/" as *;

.privacy-policy {
  margin-bottom: 118px;
}

.privacy-policy__content {
  background-color: $white-color;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 48px 36px 12px;
}

.privacy-policy__block {
  margin-bottom: 36px;
  width: 100%;

  & > h2 {
    border: 1px solid $text-color;
    border-radius: 12px;
    font-size: 20px;
    padding: 12px 36px;
    position: relative;
    margin-bottom: 16px;

    &::before {
      background-color: $text-color;
      content: "";
      height: 20px;
      left: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
  }
}

.privacy-policy__text-wrapper {
  color: $text-color2;
  line-height: 1.5;
  padding: 0 12px;

  & > h3 {
    padding-left: 12px;
    position: relative;
    margin-bottom: 8px;

    &::before {
      background-color: rgb(255, 249, 203);
      content: "";
      height: 24px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
  }

  & > h4 {
    margin-bottom: 8px;
  }

  & > p {
    margin-bottom: 8px;

    & > a {
      display: inline;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  & > ol {
    margin-bottom: 16px;

    & > li {
      display: flex;
      margin-bottom: 8px;
    }
  }
}

.privacy-policy__bottom {
  margin-bottom: 16px !important;
}

.privacy-policy__text-right {
  text-align: right;
}

.privacy-policy__list-bottom {
  margin-bottom: 8px !important;
}

@include mq(xl) {
  .privacy-policy__content {
    margin: 0 60px;
  }
}

@include mq(lg) {
  .privacy-policy__content {
    margin: 0 30px;
  }
}

@include mq(md) {
  .privacy-policy__content {
    border-radius: 30px;
    margin: 0 15px;
    padding: 32px 15px 8px;
  }
}

@include mq(sm) {
  .privacy-policy__page-top {
    padding-bottom: 60px !important;
  }

  .privacy-policy {
    margin-bottom: 60px;
  }

  .privacy-policy__block {
    margin-bottom: 24px;

    & > h2 {
      font-size: 16px;
    }
  }

  .privacy-policy__text-address {
    font-size: 16px;
  }
}
