@use "../global/" as *;

.requirements {
  margin-bottom: 120px;
}

.requirements__title {
  margin-bottom: 64px;
  text-align: center;
}

.requirements__title-text {
  margin-bottom: 10px;
}

.requirements__content {
  background-color: $white-color;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 24px;
}

.requirements__row {
  align-items: center;
  display: flex;
  gap: 25px;
  padding: 32px 0 31.5px;

  & > h3 {
    align-items: center;
    background-color: $main-color;
    border-radius: 15px;
    color: $white-color;
    display: flex;
    flex-shrink: 0;
    font-size: 18px;
    justify-content: center;
    letter-spacing: 0.2em;
    height: 30px;
    padding: 10px;
    width: 200px;
  }

  & > p {
    line-height: 1.5;
    letter-spacing: 0.2em;
    padding-right: 24px;

    & > span {
      display: block;
      font-size: 14px;
      letter-spacing: 0.2em;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px dashed $text-color;
  }
}

@include mq(xl) {
  .requirements__content {
    margin: 0 60px;
  }
}

@include mq(lg) {
  .requirements {
    margin-bottom: 80px;
  }

  .requirements__content {
    margin: 0 30px;
  }

  .requirements__row {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;

    & > p {
      padding: 24px 10px 24px 15px;
    }

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

@include mq(md) {
  .requirements__content {
    border-radius: 30px;
    margin: 0 15px;
  }
}

@include mq(sm) {
  .requirements__title {
    margin-bottom: 48px;
  }

  .requirements__row {
    & > h3 {
      width: 100%;
    }

    & > p {
      & > span {
        font-size: 12px;
      }
    }
  }

  .requirements__text-span {
    font-size: 14px !important;
    line-height: 1.5 !important;
  }

  .requirements__text--large {
    font-size: 16px !important;
  }

  .requirements__text--time {
    font-size: 16px;
    padding: 24px 10px 24px 12px !important;
  }

  .requirements__text--holiday {
    padding: 32px 15px !important;
  }

  .requirements__text--vacations {
    padding: 23px 15px !important;
  }

  .requirements__text--raise {
    line-height: 1 !important;
  }

  .requirements__text--others {
    padding: 11px 15px !important;
  }
}
