@use "../global/" as *;

.requirements {
  margin-bottom: 120px;
}

.requirements__title {
  margin-bottom: 64px;
  text-align: center;
}

.requirements__content {
  background-color: $white-color;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 24px;
}

.requirements__row {
  align-items: center;
  display: flex;
  gap: 25px;
  padding: 32px 0;

  & > h3 {
    align-items: center;
    background-color: $main-color;
    border-radius: 15px;
    color: $white-color;
    display: flex;
    flex-shrink: 0;
    font-size: 18px;
    justify-content: center;
    letter-spacing: 0.2em;
    height: 30px;
    padding: 10px;
    width: 200px;
  }

  & > p {
    line-height: 1.5;
    letter-spacing: 0.2em;
    padding-right: 24px;

    & > span {
      font-size: 14px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px dashed $text-color;
  }
}
