@use "../global/" as *;

.single-introduction {
  margin-bottom: 174px;
}

.single-introduction__container {
  margin: 0 auto;
  max-width: 1080px;
}

.single-introduction__thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  & > .img-wrapper {
    border-radius: 40px;
    overflow: hidden;
    width: 800px;

    & > img {
      aspect-ratio: 16 / 9;
    }
  }
}

.single-introduction__sub-section {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  & > h3 {
    font-size: 20px;
    letter-spacing: 0.2em;
    margin-bottom: 16px;
  }

  & > p {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.2em;
  }
}

@include mq(xl) {
  .single-introduction__container {
    margin: 0 30px;
    max-width: auto;
  }
}

@include mq(sm) {
  .single-introduction__page-top {
    padding-bottom: 57px !important;
  }

  .single-introduction__sub-section {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    & > h3 {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 12px;
    }

    & > p {
      font-size: 16px;
      text-align: start;
      letter-spacing: 0.195em;
    }
  }
}

@include mq(tablet) {
  .single-introduction {
    margin-bottom: 120px;
  }

  .single-introduction__container {
    margin: 0 auto;
    max-width: 345px;
  }

  .single-introduction__thumbnail {
    margin-bottom: 24px;

    & > .img-wrapper {
      border-radius: 20px;
      width: 100%;
    }
  }
}
