@use "../global/" as *;

.single-info {
  margin-bottom: 120px;
}

.single-info__content {
  background-color: $white-color;
  border-radius: 40px;
  color: $text-color2;
  margin: 0 auto;
  max-width: 1080px;
  padding: 32px 32px 64px;
}

.single-info__thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  & > .img-wrapper {
    border-radius: 40px;
    overflow: hidden;
    width: 640px;

    & > img {
      aspect-ratio: 2 / 1;
    }
  }
}

.single-info__content-title {
  border-bottom: 2px solid $text-color2;
  margin-bottom: 32px;

  & > p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  & > h2 {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

.single-info__text {
  margin-bottom: 64px;
}

.single-info__main-text {
  line-height: 2;
  padding: 36px 0;
}

.single-info__sub-section {
  &:not(:last-child) {
    margin-bottom: 36px;
  }

  & h3 {
    line-height: 2;
    margin-bottom: 8px;
    padding-left: 16px;
    position: relative;

    &::before {
      background-color: $main-color;
      border-radius: 2px;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
  }

  & > p {
    line-height: 2;
  }
}

.single-info__btn {
  color: $text-color;
  text-align: center;
}

@include mq(xl) {
  .single-info__content {
    max-width: 964px;
  }
}

@include mq(lg) {
  .single-info__content {
    max-width: 708px;
  }
}

@include mq(md) {
  .single-info__content {
    max-width: 580px;
  }

  .single-info__content-title {
    & > h2 {
      font-size: 24px;
    }
  }
}

@include mq(sm) {
  .single-info__page-top {
    padding-bottom: 54px !important;
  }
  .single-info__content {
    margin: 0 15px;
    padding: 32px 15px 64px;
  }

  .single-info__thumbnail {
    & > .img-wrapper {
      border-radius: 20px;
      width: 100%;
    }
  }

  .single-info__content-title {
    margin-bottom: 24px;

    & > p {
      font-size: 12px;
    }

    & > h2 {
      font-size: 20px;
    }
  }

  .single-info__text {
    margin-bottom: 48px;
  }

  .single-info__sub-section {
    & h3 {
      font-size: 16px;
    }
  }
}
