@use "../global/" as *;

.welcome {
  margin-bottom: 120px;
  text-align: center;

  & > .section-title {
    margin-bottom: 64px;
  }
}

.welcome__content {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.2em;

  & > p:first-child {
    margin-bottom: 16px;
  }
}
