@use "../global/" as *;

.yearly-program {
  margin-bottom: 118px;
}

.yearly-program__title {
  margin-bottom: 32px;
  text-align: center;
}

.yearly-program__content {
  background-color: $white-color;
  border-radius: 40px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 60px 40px;

  & > p {
    color: $text-color2;
    line-height: 1.5;
  }
}

.yearly-program__card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
}

.yearly-program__card {
  background-color: $accent-color1;
  border-radius: 20px;
  padding: 12px;
  width: 320px;
}

.yearly-program__card-img {
  margin-bottom: 8px;
  width: 100%;

  & > .img-wrapper {
    border-radius: 20px;
    overflow: hidden;
    width: 296px;

    & > img {
      aspect-ratio: 74 / 45;
    }
  }
}

.yearly-program__card-content {
  & > h3 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  & > p {
    font-size: 14px;
  }
}

@include mq(xl) {
  .yearly-program__content {
    max-width: 768px;
  }

  .yearly-program__card-group {
    justify-content: center;
  }
}

@include mq(lg) {
  .yearly-program__content-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .yearly-program__content {
    border-radius: 40px;
    margin: 0 30px;
    width: auto;
    padding: 60px 20px;
  }

  .yearly-program__card-group {
    gap: 28px;
    justify-content: center;
    width: 100%;
  }
}

@include mq(sm) {
  .yearly-program {
    margin-bottom: 80px;
  }

  .yearly-program__content {
    border-radius: 30px;
    margin: 0 15px;
    padding: 60px 15px;
  }

  .yearly-program__card-group {
    gap: 20px;
    margin-bottom: 24px;
  }
}
