@use "../global/" as *;

.breadcrumb {
  line-height: 1.5;
}

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: flex;

  & > a {
    padding-right: 8px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.breadcrumb__padding {
  padding-left: 8px;
}

.breadcrumb__padding--right {
  padding-right: 8px;
}

@include mq(sm) {
  .breadcrumb__list {
    & > a {
      margin-bottom: 8px;
    }
  }

  .breadcrumb__item {
    & > a {
      margin-bottom: 8px;
    }
  }
}
