@use "../global/" as *;

.open-fade-up,
.fade-up {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}
