@use "../global/" as *;

.page-top {
  margin-inline: 180px;
  padding: 300px 0 120px;
  width: auto;
}

.page-top-short {
  padding-bottom: 80px;
}

.page-top-long {
  padding-bottom: 134px;
}

.page-top-inner {
  margin: 0 auto;
  max-width: 1080px;
}

.page-heading {
  align-items: center;
  aspect-ratio: 27 / 4;
  background-image: url(../img/bg/page-heading-pc.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;
  width: 100%;
}

.page-title {
  text-align: center;

  & > h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  & > p {
    font-family: $font-jost;
    font-size: 10px;
    font-weight: $font-boldest;
  }
}

.page-title__flex-box {
  display: flex;
  gap: 14px;
  justify-content: center;

  & > p {
    font-size: 14px;
  }
}

@include mq(xl) {
  .page-top {
    margin-inline: 128px;
    padding: 250px 0 100px;
  }
}

@include mq(lg) {
  .page-top {
    margin-inline: 96px;
    padding: 220px 0 100px;
  }

  .page-heading {
    aspect-ratio: 23 / 8;
    background-image: url(../img/bg/page-heading-sp.webp);
  }

  .page-title {
    & > h1 {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
}

@include mq(md) {
  .page-top {
    margin-inline: 60px;
    padding: 186px 0 80px;
  }
}

@include mq(sm) {
  .page-top {
    margin-inline: 30px;
    padding: 240px 0 80px;
  }

  .page-title {
    & > h1 {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }
}

@include mq(tablet) {
  .page-top {
    padding: 230px 0 80px;
  }
}

@include mq(xs) {
  .page-top {
    margin-inline: 15px;
    padding: 186px 0 80px;
  }

  .page-title {
    & > h1 {
      font-size: 20px;
    }
  }
}
