@use "../global/" as *;

.section-title {
  display: inline-block;
}

.section-title__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > h2 {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-align: center;
  }

  & > p {
    font-family: $font-jost;
    font-weight: $font-boldest;
    font-size: 10px;
    letter-spacing: 0.2em;
  }
}

.section-title__img {
  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
  background-color: $accent-color2;
  border-radius: 50%;
  justify-content: center;
  margin-bottom: 8px;
  width: 108px;

  & > .img-wrapper {
    width: 72px;

    & > img {
      aspect-ratio: 1 / 1;
    }
  }
}

@include mq(xl) {
  .section-title__inner {
    & > h2 {
      font-size: 22px;
    }

    & > p {
      font-size: 10px;
    }
  }

  .section-title__img {
    width: 96px;

    & > .img-wrapper {
      width: 64px;
    }
  }
}

@include mq(sm) {
  .section-title__inner {
    & > h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .section-title__img {
    width: 80px;

    & > .img-wrapper {
      width: 53.3px;
    }
  }

  .section-title__title-small {
    font-size: 18px !important;
    margin-bottom: 8px !important;
  }
}
